.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 1000px;
    margin-top: 120px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.accordion_item {
    border-bottom: 1px solid #ccc;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #3700ff12;
    color: rgb(0, 0, 58);
}

.accordion_content {
    padding: 10px 15px;
    background-color: #fff;
}