.banner{
    height: 800px;
    width: 100%;
    background-image: url("../../assets/Banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.bbtn {
    position: absolute; 
    bottom: -130px;
    right: 80px; 
    
}